/* Step 4: Color scheme */
html {
  color-scheme: light dark;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}

nav a.current {
  border-bottom-color: var(--border-color);
}

nav a:hover {
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

/* Step 4.3: Color scheme switcher */
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

.color-scheme select {
  font: inherit;
}